In [1]:
import pandas as pd

In [4]:
f = "../data/data_sen_cegd_MW_2017_2024.csv"
df1 = pd.read_csv(f)
df1

,Unnamed: 0,nodo,x_long,y_lat,division,2017,2018,2019,2020,2021,2022,2023,2024
0,0,01TOP-230,-99.159847,19.157697,VALLE DE MEXICO SUR,0.0680,0.06840,0.009590,0.06100,0.017940,0.03215,0.05507,0.04972
1,1,01COA-230,-99.127608,19.270370,VALLE DE MEXICO SUR,0.5170,1.07490,0.568555,1.41940,0.608095,0.76099,1.07845,1.30443
2,2,01CTG-230,-99.166829,19.304701,VALLE DE MEXICO NORTE,0.0000,0.00000,0.000000,0.00000,0.000000,0.00000,0.01595,0.00270
3,3,01TAX-230,-99.149228,19.336945,VALLE DE MEXICO SUR,1.4146,2.11879,0.752405,0.66219,0.602135,1.02736,0.72415,1.07511
4,4,01ANS-85,-99.145294,19.345951,VALLE DE MEXICO SUR,0.3406,0.66411,0.364655,0.16679,0.307560,0.30681,0.32015,0.75130
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755,1755,07DOM-115,-111.850898,25.424010,BAJA CALIFORNIA,0.0000,0.00325,0.000000,0.00000,0.000000,0.00000,0.00000,0.00222
1756,1756,07PES-115,-111.328621,25.801498,BAJA CALIFORNIA,0.0000,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000
1757,1757,07LRO-115,-111.367758,25.960737,BAJA CALIFORNIA,0.0000,0.00888,0.310920,0.09800,0.000000,0.00000,0.13200,0.01408
1758,1758,07PUP-115,-114.040155,27.014136,BAJA CALIFORNIA,0.0000,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000
1759,1759,07INS-115,-113.786528,27.886073,BAJA CALIFORNIA,0.0000,0.00000,0.000000,0.00000,0.000000,0.00000,0.00000,0.00000

nodo: punto de conexión red eléctrica nacional

centrales líneas alta tensión, puntos donde se baja tensión hasta último punto distribución, diferente de la de trnasmisión

escala: de las mas finas

subdivisión de red de distribución no centrales

ahí se conectan SPV pequeños

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1760 entries, 0 to 1759
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1760 non-null   int64
 1   nodo        1760 non-null   object
 2   x_long      1760 non-null   float64
 3   y_lat       1760 non-null   float64
 4   division    1760 non-null   object
 5   2017        1760 non-null   float64
 6   2018        1760 non-null   float64
 7   2019        1760 non-null   float64
 8   2020        1760 non-null   float64
 9   2021        1760 non-null   float64
 10  2022        1760 non-null   float64
 11  2023        1760 non-null   float64
 12  2024        1760 non-null   float64
dtypes: float64(10), int64(1), object(2)
memory usage: 178.9+ KB

In [6]:
df1.describe()

,Unnamed: 0,x_long,y_lat,2017,2018,2019,2020,2021,2022,2023,2024
count,1760.000000,1760.000000,1760.000000,1760.00000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000
mean,879.500000,-101.508380,22.552293,0.08583,0.099070,0.168866,0.166879,0.206548,0.233741,0.283851,0.421387
std,508.212554,5.878154,4.343926,0.24749,0.251579,0.412181,0.352976,0.411733,0.440999,0.534996,0.754218
min,0.000000,-117.073302,14.710544,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,439.750000,-104.109051,19.371370,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,879.500000,-100.895266,20.935951,0.00200,0.004000,0.006930,0.013030,0.012930,0.021215,0.028610,0.063060
75%,1319.250000,-98.455239,25.679132,0.06111,0.069600,0.130427,0.166835,0.236835,0.276100,0.341008,0.544682
max,1759.000000,-86.764116,32.660900,3.34440,3.151530,4.190557,4.059710,3.571188,4.559480,4.744540,7.255470

df1.plot(df1)
graficar posicion nodos mapa

In [9]:
f = "../data/data_sen_cegd_MW_2025.csv"
df2 = pd.read_csv(f)
df2

,Unnamed: 0,nodo,x_long,y_lat,division,capacidadTotal,capacidadInstalada,capacidadDisponible
0,0,07CHQ-230,-109.470828,29.613187,BAJA CALIFORNIA,45.07,0.175320,44.894680
1,1,04LPN-115,-111.055144,29.123705,BAJA CALIFORNIA,2.20,0.020562,2.179438
2,2,04PYE-115,-113.401884,31.273581,BAJA CALIFORNIA,2.01,0.143150,1.866850
3,3,04ORI-115,-113.524754,31.316482,BAJA CALIFORNIA,18.93,0.073900,18.856100
4,4,04LCH-115,-111.350333,31.217167,BAJA CALIFORNIA,5.10,0.019580,5.080420
...,...,...,...,...,...,...,...,...
1256,1256,01MLP-230,-98.784280,19.725578,VALLE DE MEXICO NORTE,33.40,0.138540,33.261460
1257,1257,01CTT-85,-99.166626,19.705518,VALLE DE MEXICO NORTE,59.22,0.399150,58.820850
1258,1258,01CYO-85,-99.208891,19.776414,VALLE DE MEXICO NORTE,63.50,0.897200,62.602800
1259,1259,01EVD-230,-99.366504,19.635538,VALLE DE MEXICO NORTE,48.53,2.038000,46.492000
1260,1260,01CRS-230,-99.243492,19.290385,VALLE DE MEXICO SUR,0.00,0.000000,0.000000

mapa disponibilidad
buscar mejores regiones GD
mapa de la red
modelar: regiones donde crecen diferente
tendencia cambio/cont
mapa dinamico